<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h11>About DropOffice</h11>
    <p>
  		This website is created by <a href="http://www.railstutorial.org/"><em>Dancing Pointers</em></a> Company.
	</p>
  </body>
</html>