<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
  	<div class="center jumbotron">
    	<h1>
    		Welcome to DropOffice!
    	</h1>
    	<h2>
    		Everything you need in one place..
  		</h2>
    	<%= link_to "Login now!", '#', class: "btn btn-lg btn-primary" %>
    </div>
    <%= link_to image_tag("logo.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
  </body>
</html>