<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
  	<div class="container center denjar">
    
    <% if logged_in? %>
    <h1>WHAT?</h1>
    Are you looking for your <%= link_to "Profile", current_user, id:"lel" %>?
    <% else %>
    	<h1>
    		Welcome to DropOffice!
    	</h1>
    	<h2>
    		One place, everything you need.
  		</h2>
    	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-danger" %>
    <% end %>
    </div>
  </body>
</html>