<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
  	<div class="container">
    
    <% if logged_in? %>
    <% else %>
    	<h1>
    		Welcome to DropOffice!
    	</h1>
    	<h2>
    		One place, everything you need.
  		</h2>
      <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
    	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary centered" %>
      </div>
      </div>
    <% end %>
    </div>
  </body>
</html>