<!DOCTYPE html>
<html>
<head>
<title>Make a list</title>
<script>
	function addRow(){
	var table = document.getElementById("table");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(-1);
    var cell2 = row.insertCell(0);
    var cell3 = row.insertCell(1);
    var text1 = '<input type="text" name="Item" style="width:90%;" value="Enter Item Name" id="item"/>';
    //var button1 = '<input type="button" id="button1" name="edit" value = "edit" style="width:20%;" onclick = "edit(this)" />';
    var button1 = '<input type="button" id="button2" name="delete" value = "delete" style="width:20%;" onclick = "deleteRow(this)" />';

    cell2.innerHTML = text1;
    cell3.innerHTML = button1;
   // cell1.innerHTML = button2;
}


function deleteRow(row)
{
    alert("You will delete this item.");
    var i = row.parentNode.parentNode.rowIndex;
    document.getElementById('table').deleteRow(i);
   alert("Item deleted!");
}

function saveList()
{

}

</script>

<link rel="stylesheet" type="text/css" href="css.css.erb">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head> 
<body>
<div class="listdiv">Make your own list</div>

<table cellpadding="5" id="table">
<tr>
    <td class="try" width="50%"> List Items </td>
 
    <td class="try" width="50%"> </td>
   

  </tr>

</table>


<footer>
<input type="button" value="Add Item" onclick="addRow()"></input> 


</footer>

</body>
</html>
