<% provide(:title, @form.title) %>
<p id="original" hidden><%=@form.content%></p>
<div>
	<textarea id="new"></textarea>
	<button onclick="addNew();">Add</button>
</div>
<div>
	<ol id="cells">
	</ol>
</div>
<div>
	<button onclick="submitf();">submit</button>
</div>
<script type="text/javascript">
	var lines = "";
	var count = 0;

	function recordAll() {
		lines = "";
		$('#cells').children().each(function(){lines += $(this).find('span').text()+"|#|";});
	}

	function submitf() {
		recordAll();
		var uid = '<%=escape_javascript @user.id.to_s%>';
		var fid = '<%=escape_javascript @form.id.to_s%>';
		var fttl = '<%=escape_javascript @form.title%>';
		$.ajax({
      		type: 'PATCH',
    		url: '/users/'+uid+'/forms/'+fid+'/',
    		data: { title: fttl, content: lines }});
		alert(lines.toString());
	}

	function addNew() {
		if ($('#new').val()) {
			$('#cells').append('<li id="q'+count+'"><button onclick="deletethis(q'+count+');"> x</button><span>'+$('#new').val()+'</span></li>');
			$('#new').val("");
			count++;
		}
	}

	function deletethis(x) {
		$(x).remove();
	}

	function init() {
		$('cells').empty();
		var original = $('#original').text().split('|#|');
		original.pop();
		while(original.length>0){
			$('#cells').append('<li id="q'+count+'"><button onclick="deletethis(q'+count+');"> x</button><span>'+original.shift()+'</span></li>');
			count++;
		}
	}
</script>
<script type="text/javascript" defer>init();</script>